<!DOCTYPE html>
<html lang="fr" xmlns:layout="http://www.ultraq.net.mx/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<head>
    <title>Création d'un type</title>
    <style>
        .fieldError { color: red; }
    </style>
</head>
<body>
<div class="container">
    <div id="notification" th:replace="~{main :: notification}"></div>
    <div layout:fragment="content">
        <h2>Créer un nouveau type</h2>
        <form th:action="@{/types/create}" th:object="${type}" method="post">
            <div>
                <label for="type">Nom du type</label>
                <input type="text" id="type" th:field="*{type}" placeholder="Nom du type">
                <span th:if="${#fields.hasErrors('type')}" th:errors="*{type}" class="fieldError"></span>
            </div>
            <div>
                <button type="submit">Créer</button>
                <a href="/types">Annuler</a>
            </div>
        </form>
    </div>
</div>
</body>
</html>
