<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Modification d'un artiste</title>
</head>
<body>
<div class="container">
    <div layout:fragment="content">
        <h1 th:text="|${artist.firstname} ${artist.lastname}|">Bob Sull</h1>

        <table th:unless="${#lists.isEmpty(artists)}">
            <thead>
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="artist : ${artists}">
                <td th:text="${artist.firstname}">Bob</td>
                <td th:text="${artist.lastname}">Sull</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
